html
   head
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
   body
      include navbar.pug
      .container
         h1 List of users:
            each user in users
               h3=user.firstname
               h4=user.lastname
               h4=user.email
